@{
    ViewBag.Title = "Source Cocktail";
}

<div class="jumbotron" style="text-align:center">
    <h1>Source Cocktail</h1>
    <p class="lead">Vos Recettes, Vos Ingrédients, Vos Cocktail</p>
    <img height="417" width="645" src="http://i.imgur.com/EyoMwzE.jpg" />
</div>

<div class="row">

</div>